<h1>Instagram Feed!</h1>

<form id="instagram">
<label for="tag">Tag:</label>
<input type="text" name="tag" id="tag" placeholder="Search for...">
<br>
<input type="submit" value="Submit" id="btn">

</form>
<br>
<button type="button" id="previous" class="btn btn-primary">Previous!</button>
<button type="button" id="next" class="btn btn-primary">Next!</button>

<div id="images">

</div><br>
